<div id="<%= dom_id team %>">
  <p>
    <strong>Team name:</strong>
    <%= team.team_name %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= team.lead_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= team.project_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= team.created_by %>
  </p>

  <p>
    <strong>Modified by:</strong>
    <%= team.modified_by %>
  </p>

</div>
