<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :firebase_uid, style: "display: block" %>
    <%= form.text_field :firebase_uid %>
  </div>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.number_field :role %>
  </div>

  <div>
    <%= form.label :team_id, style: "display: block" %>
    <%= form.number_field :team_id %>
  </div>

  <div>
    <%= form.label :is_team_lead, style: "display: block" %>
    <%= form.number_field :is_team_lead %>
  </div>

  <div>
    <%= form.label :avatar, style: "display: block" %>
    <%= form.text_field :avatar %>
  </div>

  <div>
    <%= form.label :password_digest, style: "display: block" %>
    <%= form.text_field :password_digest %>
  </div>

  <div>
    <%= form.label :firebase_access_token, style: "display: block" %>
    <%= form.text_field :firebase_access_token %>
  </div>

  <div>
    <%= form.label :firebase_phone_number, style: "display: block" %>
    <%= form.text_field :firebase_phone_number %>
  </div>

  <div>
    <%= form.label :firebase_email, style: "display: block" %>
    <%= form.text_field :firebase_email %>
  </div>

  <div>
    <%= form.label :firebase_email, style: "display: block" %>
    <%= form.text_field :firebase_email %>
  </div>

  <div>
    <%= form.label :firebase_email_verified, style: "display: block" %>
    <%= form.check_box :firebase_email_verified %>
  </div>

  <div>
    <%= form.label :firebase_provider_id, style: "display: block" %>
    <%= form.text_field :firebase_provider_id %>
  </div>

  <div>
    <%= form.label :firebase_display_name, style: "display: block" %>
    <%= form.text_field :firebase_display_name %>
  </div>

  <div>
    <%= form.label :firebase_is_anonymous, style: "display: block" %>
    <%= form.check_box :firebase_is_anonymous %>
  </div>

  <div>
    <%= form.label :firebase_metadata_creationTime, style: "display: block" %>
    <%= form.text_field :firebase_metadata_creationTime %>
  </div>

  <div>
    <%= form.label :firebase_metadata_lastSignInTime, style: "display: block" %>
    <%= form.text_field :firebase_metadata_lastSignInTime %>
  </div>

  <div>
    <%= form.label :firebase_client_version, style: "display: block" %>
    <%= form.text_field :firebase_client_version %>
  </div>

  <div>
    <%= form.label :firebase_photo, style: "display: block" %>
    <%= form.text_field :firebase_photo %>
  </div>

  <div>
    <%= form.label :firebase_tenant_id, style: "display: block" %>
    <%= form.text_field :firebase_tenant_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
