<div id="<%= dom_id user %>">
  <p>
    <strong>Firebase uid:</strong>
    <%= user.firebase_uid %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= user.team_id %>
  </p>

  <p>
    <strong>Is team lead:</strong>
    <%= user.is_team_lead %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= user.avatar %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Firebase access token:</strong>
    <%= user.firebase_access_token %>
  </p>

  <p>
    <strong>Firebase phone number:</strong>
    <%= user.firebase_phone_number %>
  </p>

  <p>
    <strong>Firebase email:</strong>
    <%= user.firebase_email %>
  </p>

  <p>
    <strong>Firebase email:</strong>
    <%= user.firebase_email %>
  </p>

  <p>
    <strong>Firebase email verified:</strong>
    <%= user.firebase_email_verified %>
  </p>

  <p>
    <strong>Firebase provider:</strong>
    <%= user.firebase_provider_id %>
  </p>

  <p>
    <strong>Firebase display name:</strong>
    <%= user.firebase_display_name %>
  </p>

  <p>
    <strong>Firebase is anonymous:</strong>
    <%= user.firebase_is_anonymous %>
  </p>

  <p>
    <strong>Firebase metadata creationtime:</strong>
    <%= user.firebase_metadata_creationTime %>
  </p>

  <p>
    <strong>Firebase metadata lastsignintime:</strong>
    <%= user.firebase_metadata_lastSignInTime %>
  </p>

  <p>
    <strong>Firebase client version:</strong>
    <%= user.firebase_client_version %>
  </p>

  <p>
    <strong>Firebase photo:</strong>
    <%= user.firebase_photo %>
  </p>

  <p>
    <strong>Firebase tenant:</strong>
    <%= user.firebase_tenant_id %>
  </p>

</div>
