<div id="<%= dom_id user %>">
  <p>
    <strong>Uid:</strong>
    <%= user.uid %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= user.provider_id %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= user.display_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Email verified:</strong>
    <%= user.email_verified %>
  </p>

  <p>
    <strong>Is anonymous:</strong>
    <%= user.is_anonymous %>
  </p>

  <p>
    <strong>Metadata creationtime:</strong>
    <%= user.metadata_creationTime %>
  </p>

  <p>
    <strong>Metadata lastsignintime:</strong>
    <%= user.metadata_lastSigninTime %>
  </p>

  <p>
    <strong>Client version:</strong>
    <%= user.client_version %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Firebase photo:</strong>
    <%= user.firebase_photo %>
  </p>

  <p>
    <strong>User photo:</strong>
    <%= user.user_photo %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= user.tenant_id %>
  </p>

</div>
