<div id="<%= dom_id project %>">
  <p>
    <strong>Project name:</strong>
    <%= project.project_name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= project.start_date %>
  </p>

  <p>
    <strong>Target end date:</strong>
    <%= project.target_end_date %>
  </p>

  <p>
    <strong>Actual end date:</strong>
    <%= project.actual_end_date %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= project.created_by %>
  </p>

  <p>
    <strong>Modified by:</strong>
    <%= project.modified_by %>
  </p>

  <p>
    <strong>Bug:</strong>
    <%= project.bug_id %>
  </p>

</div>
