<div id="<%= dom_id bug %>">
  <p>
    <strong>Issue summary:</strong>
    <%= bug.issue_summary %>
  </p>

  <p>
    <strong>Issue description:</strong>
    <%= bug.issue_description %>
  </p>

  <p>
    <strong>Identified by:</strong>
    <%= bug.identified_by %>
  </p>

  <p>
    <strong>Indentified date:</strong>
    <%= bug.indentified_date %>
  </p>

  <p>
    <strong>Related project:</strong>
    <%= bug.related_project_id %>
  </p>

  <p>
    <strong>Assigned tostatus:</strong>
    <%= bug.assigned_tostatus %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= bug.priority %>
  </p>

  <p>
    <strong>Target resolution date:</strong>
    <%= bug.target_resolution_date %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= bug.progress %>
  </p>

  <p>
    <strong>Actual resolution date:</strong>
    <%= bug.actual_resolution_date %>
  </p>

  <p>
    <strong>Resolution summary:</strong>
    <%= bug.resolution_summary %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= bug.created_by %>
  </p>

  <p>
    <strong>Modified by:</strong>
    <%= bug.modified_by %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= bug.approved %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= bug.image_url %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= bug.comment_id %>
  </p>

</div>
