<div id="<%= dom_id bug %>">
  <p>
    <strong>Issue title:</strong>
    <%= bug.issue_title %>
  </p>

  <p>
    <strong>Issue description:</strong>
    <%= bug.issue_description %>
  </p>

  <p>
    <strong>Identified by:</strong>
    <%= bug.identified_by %>
  </p>

  <p>
    <strong>Identified date:</strong>
    <%= bug.identified_date %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= bug.project_id %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= bug.assigned_to %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bug.status %>
  </p>

  <p>
    <strong>Status modified date:</strong>
    <%= bug.status_modified_date %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= bug.priority %>
  </p>

  <p>
    <strong>Target resolution date:</strong>
    <%= bug.target_resolution_date %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= bug.progress %>
  </p>

  <p>
    <strong>Actual resolution date:</strong>
    <%= bug.actual_resolution_date %>
  </p>

  <p>
    <strong>Resolution summary:</strong>
    <%= bug.resolution_summary %>
  </p>

  <p>
    <strong>Modified by:</strong>
    <%= bug.modified_by %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= bug.approved %>
  </p>

  <p>
    <strong>Approved by:</strong>
    <%= bug.approved_by %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= bug.image_url %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= bug.comment_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= bug.created_by %>
  </p>

</div>
