<%= form_with(model: bug) do |form| %>
  <% if bug.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
        <% bug.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :issue_title, style: "display: block" %>
    <%= form.text_field :issue_title %>
  </div>

  <div>
    <%= form.label :issue_description, style: "display: block" %>
    <%= form.text_area :issue_description %>
  </div>

  <div>
    <%= form.label :identified_by, style: "display: block" %>
    <%= form.number_field :identified_by %>
  </div>

  <div>
    <%= form.label :identified_date, style: "display: block" %>
    <%= form.date_field :identified_date %>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.number_field :project_id %>
  </div>

  <div>
    <%= form.label :assigned_to, style: "display: block" %>
    <%= form.number_field :assigned_to %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :status_modified_date, style: "display: block" %>
    <%= form.date_field :status_modified_date %>
  </div>

  <div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.number_field :priority %>
  </div>

  <div>
    <%= form.label :target_resolution_date, style: "display: block" %>
    <%= form.date_field :target_resolution_date %>
  </div>

  <div>
    <%= form.label :progress, style: "display: block" %>
    <%= form.number_field :progress %>
  </div>

  <div>
    <%= form.label :actual_resolution_date, style: "display: block" %>
    <%= form.date_field :actual_resolution_date %>
  </div>

  <div>
    <%= form.label :resolution_summary, style: "display: block" %>
    <%= form.text_area :resolution_summary %>
  </div>

  <div>
    <%= form.label :modified_by, style: "display: block" %>
    <%= form.number_field :modified_by %>
  </div>

  <div>
    <%= form.label :approved, style: "display: block" %>
    <%= form.check_box :approved %>
  </div>

  <div>
    <%= form.label :approved_by, style: "display: block" %>
    <%= form.number_field :approved_by %>
  </div>

  <div>
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :comment_id, style: "display: block" %>
    <%= form.number_field :comment_id %>
  </div>

  <div>
    <%= form.label :created_by, style: "display: block" %>
    <%= form.number_field :created_by %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
